@charset "UTF-8";
/* Responsive CSS Document using a mobile-first approach.  Items outside a media
query apply to all screens.  We  enhance presentation progressively adding
features and content for larger screen sizes*/

/********************** All screen sizes ****************************************/

/* Fluid Header */
.projectName {
  float: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 3.0vw;/* Define size in vieport terms for responsivenes */
  width:60%;
}


.logo {
  display:block;
	margin: auto;
	max-width:25%;
  border-radius: 5px;
  float: right;
  padding-bottom: .1em;
}

.link{
  color: #000099;
}

.parameters {
  padding: 5px 10px;
  border:1px solid #900000;
  border-radius: 5px;
}


label{
 display: inline;
}

hr {
	background:#900000;
	border:0;
	height:1px;
}

header {
	padding-top:1em;
  width:100%;
	}

h1, h2, h3 {
	color:#900000;
	padding:.2em;
	}

header h1, header h2 {
	text-align: center;
	font-size: 2em;
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

header h2 {
	font-size: 1.5em;
}

h2, h3 {
	font-size:1.5em;
	margin-bottom:.2em;
	}

.password {
  text-align:center;
  font-size:2rem;
  margin:.1em;
  padding:.1em;
  color:#900000;
  background-color:#d3d3d3;
  font-weight: bold;
  width: 98%;
  border-radius: 5px;
  }


/* Override jQuery UI settings to match rest of site */
.ui-widget-content a {
    color: #1EAEDB;;
}

/* Override skeleton settings to my preference */
body {
	font-family:Raleway, sans-serif;
  background-image:linear-gradient(180deg,#fff 55%, #d3d3d3 98%);
	margin: 0 10%;
	}

.project{
  font-weight: bold;
}


label, select, input{
  margin: 5px;
}

.three.columns,.twelve.columns {
	overflow:hidden;
	border:none;
	}

.twelve.columns {
	background-color:#fff;
	}

.border {
	margin-top:.5em;
	padding:.5em;
	border-radius:4px;
	border:#bbbbbb 1px solid;
	}

input[type="submit"]{
    background: linear-gradient(170deg,#D3D3D3 25%, #FFF 50%, #fff 75%, #d3d3d3 99%);
  }

/* Margin */
.margin{
	width:100%;
	padding:0;
	margin:0;
	text-align:center;
	}

/* Footer */
footer {
	font-size: smaller;
	text-align:center;
	}

footer p {
	padding: 1em;
	}


/***************************************** Progressive enhancements  *****************************************/


/* Larger than tablet */
@media (min-width: 750px) {

	/* Display grape and food match information */
	td:nth-of-type(3){
	display:flex;
	border-bottom: 1px solid  #e0e0e0;
	}
	td:nth-of-type(4){
	display:flex;
	border-bottom: 1px solid  #e0e0e0;
	}
}
