@charset "UTF-8";
/* Responsive CSS Document using a mobile-first approach.  Items outside a media
query apply to all screens.  We  enhance presentation progressively adding
features and content for larger screen sizes*/

/********************** All screen sizes ****************************************/

/* Fluid Header */
.projectName {
  float: left;
  font-weight: bold;
  font-weight: bolder;
  padding: 5px 10px;
  /*font-size: 2.0vw;*//* Define size in vieport terms for responsivenes */
  width:55%;
}


.logo {
  display:block;
	margin: auto;
  max-width: 45%;
  border-radius: 5px;
  float: right;
  padding-bottom: .1em;
}

.link{
  color: #000099;
}

.jumbotron {
  padding: 5px 10px;
  border:1px solid #900000;
  background-color:#eee;
  border-radius: 5px;
}


.row {
  padding: 10px;
}

.password {
  text-align:center;
  font-size:1.5em;
  margin:.1em;
  padding:.1em;
  color:#900000;
  background-color:#FFF;
  font-weight: bold;
  width: 98%;
  border-radius: 5px;
  overflow: scroll;
  font-size: 4vw;
  }

hr {
	background:#900000;
	border:0;
	height:1px;
}

header {
	padding-top:1em;
  width:100%;
	}

h1, h2, h3 {
	color:#900000;
	padding:.2em;
	}

header h1, header h2 {
	text-align: center;
	font-size: 2em;
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

header h2 {
	font-size: 1.5em;
}

h2, h3 {
	font-size:1.5em;
	margin-bottom:.2em;
	}

/* Override default settings to my preference */
body {
	font-family:Raleway, sans-serif;
  background-image:linear-gradient(180deg,#fff 55%, #d3d3d3 98%);
	margin: 0 10%;
	}

label, select, input{
  display: inline;
  padding: 10px;
  margin-bottom: 10px;
  }

input[type="submit"]{
    background: linear-gradient(170deg,#D3D3D3 25%, #FFF 50%, #fff 75%, #d3d3d3 99%);
  }

footer {
	font-size: smaller;
	text-align:center;
	}

footer p {
	padding: 1em;
	}

/***************************************** Progressive enhancements  *****************************************/

/* Override bootstrap defaults for larger than tablet */
@media screen and (min-width: 768px)
.container .jumbotron, .container-fluid .jumbotron {
    padding-right: 10px;
    padding-left: 10px;
}
