@charset "UTF-8";
/* Responsive CSS Document using a mobile-first approach.  Items outside a media
query apply to all screens.  Items inside media queries  adjust features based
on the secreen size*/

/********************** All screen sizes ****************************************/

/* Override default bootstrap settings to set the overall look and feel to
my preference */
body {
	font-family:Raleway, sans-serif; /* Raleway imported from Google fonts */
  background-image:linear-gradient(180deg,#fff 55%, #d3d3d3 98%);
	margin: 0 10%;
}

header {
	padding-top:1em;
  width:100%;
	}

h1, h2, h3 {
	color:#900000;
	padding:.1em;
  margin-top: 10px;
	}

header h1, header h2 {
	text-align: center;
	font-size: 2em;
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

header h2 ,h2, h3 {
	font-size:1.2em;
	margin-bottom:.2em;
	}

label, select, input, input[type="radio"], .col-sm-2, .col-sm-6{
  display: inline; /* set form elements to align nicely*/
  padding: 5px;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: normal;
  }


  input[type="checkbox"], select{
  /*  display: inline; set form elements to align nicely*/
    float: right;
    margin-right: 15px;
    }

input[type="submit"]{
    background: linear-gradient(170deg,#D3D3D3 25%, #FFF 50%, #fff 75%, #d3d3d3 99%);
  }


footer {
	font-size: smaller;
	text-align:center;
	}

footer p {
	padding: 1em;
	}

.row a{
  margin-left: 15px;
}

.optionalText{
  display: none;
}
.page-header{
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.projectName { /* Set header name to the left and make prominent*/
  float: left;
  font-weight: bold;
  padding: 5px 10px;
  width:55%;
}


.logo { /*float logo to the righ*/
	margin: auto;
  max-width: 45%;
  border-radius: 5px;
  float: right;
  padding-bottom: .1em;
}

.link{
  color: #000099;
}

.jumbotron {
  padding: 5px 10px;
  border:1px solid #900000;
  background-color:#eee;
  border-radius: 5px;
  margin-top: 12px;
  margin-bottom: 10px;
}

.container-fluid .jumbotron p {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 15px;
}

.element.style {
  padding-left: 5px;
  padding-right: 5px;
}

.row {
  padding: 5px 10px;

}

.password {
  text-align:center;
  font-size:1.5em;
  margin:.1em;
  padding:.1em;
  color:#900000;
  background-color:#FFF;
  font-weight: bold;
  width: 98%;
  border-radius: 5px;
  overflow: scroll; /* very long passwords don't fit in a box */
  font-size: 20px;
  }


/***************************************** Progressive enhancements  *****************************************/

/* Override bootstrap defaults for larger screens  */
@media screen and (min-width: 768px){
  .container .jumbotron, .container-fluid .jumbotron,
  .container-fluid .jumbotron p, .password,
  label, select, input {
      padding-right: 5px;
      padding-left: 5px;
      margin-left: 15px;
      font-size: 20px;
  }

  header h1, header h2, h1, h2{
    font-size: 30px;
    margin-left: 15px;
  }

  .optionalText{ /*disclose optional text on large screens*/
    display: block;
  }


}
